/*

PRIMARY STYLE

*/

h1, h2, h3, h4, h5, h6, svg {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

p, li {
	font-family: 'Hind', sans-serif;
	font-weight: 400;
}

a {
	font-family: 'Hind', sans-serif;
	text-decoration: none;
}

ul {
	
}

body {
	height: 100vh;
	margin: 0;
  	margin-top: 0;
}


/*

CENTER CONTENT AND CONTENT

*/

svg.center-img {
	position: relative;
	display: block;
	width: 1440px;
	height: 791px;
	margin-right: auto;
	margin-left: auto;
}

div.main {
	position: relative;
	z-index: 2;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 1.2s;
	-moz-transition: -moz-transform 1.2s;
	transition: transform 1.2s;
	-webkit-transition-timing-function: cubic-bezier(0.56, 0.01, 0.45, 0.99);
	-moz-transition-timing-function: cubic-bezier(0.56, 0.01, 0.45, 0.99);
	transition-timing-function: cubic-bezier(0.56, 0.01, 0.45, 0.99);
}

/*

NAVIGATION

*/

div.nav-header {
	height: 80px;
	background-color: #FFF;
	width: 100%;
}

.navigation-is-open div.main {
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
}

.navi-trigger {
	position: fixed;
	z-index: 3;
	left: 5%;
	top: 20px;
	height: 54px;
	width: 54px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	-webkit-transition: -webkit-transform 0.5s;
	-moz-transition: -moz-transform 0.5s;
	transition: transform 0.5s;
}

.navi-trigger svg {
	position: absolute;
	top: 0;
	left: 0;
}

.no-touch .navigation-is-open .navi-trigger:hover .navi-icon::after, .no-touch .navigation-is-open .navi-trigger:hover .navi-icon::before {
	top: 0;
}

.navi {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	/*background-color: #6EBCDB;*/
	visibility: hidden;
	-webkit-transition: visibility 0s 0.5s;
	-moz-transition: visibility 0s 0.5s;
	transition: visibility 0s 0.5s;
}

svg.nav-bg {
	position: relative;
}

.navi .navigation-wrapper {
	/* Navigation content */
	position: absolute;
	top: 20px;
	height: 100%;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	padding: 40px 5% 40px calc(5% + 80px);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: -webkit-transform 1.7s;
	-moz-transition: -moz-transform 1.7s;
	transition: transform 1.7s;
	-webkit-transition-timing-function: cubic-bezier(0.56, 0.01, 0.45, 0.99);
	-moz-transition-timing-function: cubic-bezier(0.56, 0.01, 0.45, 0.99);
	transition-timing-function: cubic-bezier(0.56, 0.01, 0.45, 0.99);
}

.navigation-is-open .navi {
	visibility: visible;
	-webkit-transition: visibility 0s 0s;
	-moz-transition: visibility 0s 0s;
	transition: visibility 0s 0s;
}

.navigation-is-open .navi .navigation-wrapper {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition: -webkit-transform 1.7s;
	-moz-transition: -moz-transform 1.7s;
	transition: transform 1.7s;
	-webkit-transition-timing-function: cubic-bezier(0.56, 0.01, 0.45, 0.99);
	-moz-transition-timing-function: cubic-bezier(0.56, 0.01, 0.45, 0.99);
	transition-timing-function: cubic-bezier(0.56, 0.01, 0.45, 0.99);
}

.navi > h2 {
	position: relative;
	margin-bottom: 1.7em;
	font-size: 1.3rem;
	color: #2C3E50;
}

.navi > h2::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -20px;
	height: 1px;
	width: 60px;
	background-color: #2C3E50;
}

.navi .primary-navi {
	margin-top: 60px;
	list-style: none;
	padding-left: 0;
}

.navi .primary-navi > li {
	margin: 1.6em 0;
}

.navi .primary-navi a {
	font-size: 1.4rem;
	color: #D7DADB;
	display: inline-block;
}

.navi .primary-navi a.selected {
	color: #ffffff;
}

.no-touch .navi .primary-navi a:hover {
	color: #ffffff;
}

.no-js div.main {
	overflow: visible;
}

.no-js .navi {
	visibility: visible;
}

.no-js .navi .navigation-wrapper {
	height: auto;
	overflow: visible;
	padding: 100px 5%;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}

/*

CIRCLES ANIMATION

*/

#top_left {
  transform: translateX(0px);
}

/*

TEXT & TEXT ANIMATION

*/

g.research, #circles {
	z-index: 2;
}

#research, #projects, #publications, #designStudio {
	display: none;
	opacity: 0;
	width: 1200px;
    z-index: 2;
    margin: 0 auto;
    position: absolute;
    top: 115px;
    left: 245px;
}

.pageHeading {
	color: #2C3E50;
	margin-left: 70px;
}

.details {
	margin-top: 50px;
}

.sections {
	display: -webkit-inline-box;
}

.sectionRight {
	margin-left: 100px;
}


/*

Media Queries Mobile Devices

*/

/*@media only screen and (min-width: 786px){
	div.div.main {
		padding: 250px 10%;
	}

	div.div.main > h1 {
		font-size: 2.6em;
	}

	div.div.main > p {
		font-size: 1.6em;
	}
}

@media only screen and (min-width: 1170px) {
	.navi-trigger {
		top: 40px;
	}
	
	.navi .navigation-wrapper {
    	padding: 62px 20%;
  	}
  	
  	.navi .navigation-wrapper::after {
    	clear: both;
    	content: "";
    	display: table;
  	}
  	
  	.navi .half-block {
  		position: absolute;
  		top: 30px;
    	width: 50%;
    	float: left;
  	}
  	
  	.navi .primary-navi {
    	margin-top: 0;
  	}
  
  	.navi h2 {
    	font-size: 1.5rem;
  	}
  
  	.navi .primary-navi li {
    	margin: 2em 0;
  	}
  
  	.navi .primary-navi a {
    	font-size: 1.7rem;
  	}
}*/